@import "src/scss/constants";

header.header {
  width: 100%;
  height: $cube * 6;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 $cube * 2;

  background-color: $secondary-background-color;
  box-shadow: $box-shadow;
  transition: height $transition $transition-type;
  overflow: hidden;

  &.large {
    height: $cube * 7;
  }

  span {
    font-weight: $title-font-weight;
  }

  div.group {
    display: flex;
    flex-direction: row;

    &.metadata {
      flex-direction: column;
      position: relative;
      width: auto;


      h1.name {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        span.version {
          margin-left: $cube * 0.5;
          font-size: $text-font-size;
        }
      }

      span.description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &.links {
    }

    a {
      display: flex;
      align-items: center;

      margin-left: $cube * 2;
      height: $cube * 2;

      div.icon, img {
        height: $cube * 2;
        width: $cube * 2;
        margin-right: $cube * 0.4;
        border-radius: 50%;
        border: $cube * 0.1 solid transparent;
        transition: border $transition $transition-type;
      }

      span {
        padding: $cube * 0.1 0;
        transition: color $transition $transition-type;
        white-space: nowrap;
      }

      &:hover {
        div.icon, img {
          border: $cube * 0.1 solid $primary;
        }

        span {
          color: $primary;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  header div.group {
    a span {
      display: none;
    }

    &.meta-information h1 span.version {
      display: none;
    }
  }
}
