@import "src/scss/constants";

div.editor {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  div.content {
    height: 100%;
    flex-grow: 1;

    div.content-display {
      display: flex;
      align-items: flex-start;
    }
  }

  div.controls {
    margin-left: $cube * 2;
    align-self: flex-start;
    width: $cube * 8.885;

    div.format-item {
      display: flex;
      flex-direction: row;

      div.icon {
        width: $cube* 1.84;
        height: $cube * 1.84;
        margin-right: $cube * 0.6;
      }

      span {
        line-height: $cube * 1.7;
      }
    }
  }
}
