<div class="box">
  <div class="editor">
    <div class="content">
      <app-form-field [smallLabel]="data">
        <label>Response</label>
        <div appFormFieldRef class="content-display">
          <app-json-view *ngIf="format === 'Json' && data" [json]="data"></app-json-view>
          <pre *ngIf="format === 'Raw' && data">{{data}}</pre>
        </div>
      </app-form-field>
    </div>

    <div class="controls">
      <app-dropdown (performSelect)="setFormat($event)" current="Json">
        <div appDropdownRef class="format-item">
          <div class="icon">
            <app-icon-json></app-icon-json>
          </div>
          <span>Json</span>
        </div>
        <div appDropdownRef class="format-item">
          <div class="icon">
            <app-icon-raw></app-icon-raw>
          </div>
          <span>Raw</span>
        </div>
      </app-dropdown>
    </div>
  </div>
</div>
