<div class="box">
  <div class="editor">
    <div class="field">
      <app-form-field>
        <label for="content">Content</label>
        <textarea [formControl]="content" appFormFieldRef class="area" id="content"></textarea>
      </app-form-field>
    </div>

    <div class="controls">
      <app-button (performClick)="send()"
                  [disabled]="!(status && content.valid)"
                  color="green"
                  title="Send">
        <app-icon-send></app-icon-send>
      </app-button>

      <app-dropdown (performeSelect)="setFormat($event)" current="Json">
        <div appDropdownRef class="format-item">
          <div class="icon">
            <app-icon-json></app-icon-json>
          </div>
          <span>Json</span>
        </div>
        <div appDropdownRef class="format-item">
          <div class="icon">
            <app-icon-raw></app-icon-raw>
          </div>
          <span>Raw</span>
        </div>
      </app-dropdown>
    </div>
  </div>
</div>
