<main class="main">
  <app-header></app-header>

  <div *ngIf="config.currentPage==='editor'" class="content editor">
    <div class="config">
      <app-config></app-config>
    </div>

    <div class="editor">
      <app-editor></app-editor>
    </div>

    <div class="response">
      <app-response></app-response>
    </div>
  </div>

  <div *ngIf="config.currentPage==='playground' && config.playgroundUrl" class="editor playground">
    <app-playground></app-playground>
  </div>
</main>

<div class="notification-list">
  <app-notification-list></app-notification-list>
</div>
