@import "src/scss/constants";

main {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: $cube * 6 $cube * 11.1 30% auto;

  grid-template-areas: "header" "config" "editor" "history";

  width: 100vw;
  height: 100vh;

  div.header {
    grid-area: header;
  }

  div.config {
    grid-area: config;
  }

  div.editor {
    grid-area: editor;
  }

  div.history {
    grid-area: history;
  }
}
