<div class="box">
  <div class="config">
    <div class="url">
      <app-form-field>
        <label for="url">URL</label>
        <input [formControl]="url" appFormFieldRef id="url" type="text">
      </app-form-field>
    </div>

    <div class="connect">
      <app-button (performClick)="connecting ? disconnect() : status ? disconnect() : connect()"
                  [color]="connecting ? 'red' : status ? 'red': 'green'"
                  [disabled]="!url.valid"
                  [title]="connecting ? 'Cancel Connecting' : status ? 'Disconnect' : 'Connect'">
        <app-icon-connect *ngIf="!status && !connecting"></app-icon-connect>
        <app-icon-close *ngIf="(connecting || status)"></app-icon-close>
      </app-button>
    </div>
  </div>
</div>
